
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html {
    color: rgb(52, 73, 94);
    font-family: Source Sans Pro,verdana,sans-serif;
    ;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size:  40px;
}

img {
    width: 65%;
    height: 90%;

}

li {
    font-size: 20px;
}

p {
    font-size: 20px;
    line-height: 1.45;
}

.one {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.two {
    margin-top: 60px;
    display: flex;
    flex-shrink: 1;
    text-align: center;
    width: 65%;
    justify-content: center;
}

.three {
    width: 65%;
    text-align: center;
    margin-bottom: 35px;

}
.four {
    text-align: center;

}

.banner {
    display: flex;
    justify-content: center;
    margin: auto;
}

.banner img {
    width: 40%
}

.navbar {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;  
    flex-wrap: wrap;
    margin: auto; 
    width: 60%;
    padding: 0;
    margin-top: 30px;
}

break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;   
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

a {
    text-decoration: none; 

}

.servicep {
    display:flex;
    justify-content: end;
    text-align: start;
    width: 65%;
}

footer {
    display:flex;
    justify-content: center;
    overflow: hidden;
}

#punctual {
    opacity: 0.4;
    justify-content: center;
    min-width: 100px;
}

.navcontacts {
    display: flex;
    list-style-type: none;
    justify-content: space-around;  
    margin: auto; 
    width: 50%;
    padding: 0;
    margin-top: 30px;
}
footer p {
    margin-top: 60px;
}

strong{
    font-weight:bold;
   }