
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    color: rgb(52, 73, 94);
    font-family: Roboto;

}

img {
    width: 60%;
    height: 90%;

}

.one {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.two {
    margin-top: 60px;
}

.three {
    width: 60%;
    text-align: center;
}
.four {
    text-align: center;

}

.banner {
    display: flex;
    justify-content: center;
    margin: auto;
}

.banner img {
    width: 40%
}



.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;  
    margin: auto; 
    width: 50%;
    padding: 0;
    margin-top: 30px;
}

break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;   
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.servicep {
    display:flex;
    justify-content: end;
    text-align: start;
    width: 60%;
}

footer {
    display:flex;
    justify-content: center;
}

#punctual {
    opacity: 0.4;
}

.navcontacts {
    display: flex;
    list-style-type: none;
    justify-content: space-around;  
    margin: auto; 
    width: 50%;
    padding: 0;
    margin-top: 30px;
}
footer p {
    margin-top: 60px;
}